@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.footer{
    width: 100%;
    margin: 0 auto;
    background: #1B2B38;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    /* border: 1px solid green; */
    padding: 60px 115px;
    padding-bottom: 28px;
}

.footer-all-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.footer-info-item-box{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.footer-info-item-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFCF8;
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid #A6844C;
}

.footer-info-item-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFCF8;
    padding-bottom: 4px;
}

.footer-info-item-text.footer-phone{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #A6844C;
    padding-bottom: 12px;
    padding-top: 8px;
}

.footer-info-item-text.footer-address{
    max-width: 278px;
    width: 100%;
}

.footer-info-item.central-box{
    max-width: 386px;
    width: 100%;
    /* border: 2px solid yellow; */
}

.footer-information-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.img-logo-footer{
    width: 88px;
    height: 18px;
}

.footer-information-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #566470;
}

.social.footer-social{
    max-width: 108px;
    width: 100%;
    justify-content: space-between;
}

.fa-brands.footer-social-item{
    font-size: 16px;
    color: #A6844C;
    padding: 4px;
}

.footer-info-item-text.footer-link{
    cursor: pointer;
    transition: all .3s linear;
    text-decoration: none;
}

.footer-info-item-text.footer-link:hover{
    color: #b4b4b4
}