

.practices{
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/practises.jpg);
    background-size: cover;
    /* padding: 80px 50px; */
    box-sizing: border-box;
}

.practices-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    /* border: 1px solid green; */
    padding: 80px 115px;
}

.section-title.practice{
    padding: 0;
    margin: 0;
}

.practices-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 40px;
    box-sizing: border-box;
}

.practice-area-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    /* padding: 10px; */
    max-width: 504px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 10px;
}

.practice-area-item.right{
    margin-right: 0px;
    margin-left: 10px;
}

.practice-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.practice-item-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFCF8;
    margin-left: 40px;
    padding: 24px 0;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #FFFCF8;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s linear;
    /* transition: border .8s ease-in-out; */
}

.practice-item-text:hover{
    color: #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
}